body
{
  color: black;
  font-family: 'PT Serif'
}

 html
{
  background-image: url(pics/try.jpg);
  background-size: 1680px 1000px;
  background-repeat: no-repeat;
}

 #bg
{
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;

}

.header
{
  font-family: 'Staatliches';
  text-align: center;
  font-size: 400%;
	text-shadow: 1px 3px 3px #FFFFFF;

  }

.header img
{
  width: 85px;
  height: 85px;
  position: absolute; top: 10px; left:275px;
  border-radius: 8px;

}

#content
{
  border-style: double;
  border-radius: 5px;
  width: 40%;
  margin-left: 30%;
  margin-right: 10%;

}

hr
{
	border: 1px dotted #4a4647;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

h3, h4
{
  text-align: center;
  font-family: 'PT Serif'
}
